* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
/* ----------------------------font---------------------------------- */
@font-face {
  font-family: "byekan";
  src: url("../fonts/Byekan.ttf") format("truetype"),
    url("../fonts/Byekan.woff") format("woff");
}

@font-face {
  font-family: "lalezar";
  src: url("../fonts/lalezar.ttf") format("truetype"),
    url("../fonts/lalezar.woff") format("woff");
}
/* ----------------------------header---------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "byekan";
}

.header {
  height: 600px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

/*header navigation */

.header .nav-list .nav-item {
  display: inline-block;
}

.header .nav-list .nav-item a {
  display: inline-block;
  padding: 15px;
  color: #fff;
  transition: all 0.3s;
}

.header .nav-list .nav-item a:hover {
  color: orange;
  transform: translateY(-8px);
}

/* header heading */
.header h1 {
  margin-top: 100px;
  font-size: 45px;
}

.header h1 span {
  color: rgb(255, 166, 0);
}

/* header description */
.header .desc {
  background-color: rgba(0, 0, 0, 0.3);
  width: 400px;
  margin: 50px auto 0;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.header .desc:hover {
  box-shadow: rgb(255, 255, 255) 0px 5px 15px;
  border: none;
  transform: translate(0, -5px);
  cursor: pointer;
}

/* ------------------------memmbers------------------------------ */
.members {
  text-align: center;
  padding: 30px 0 40px;
}

.members h2 {
  margin-bottom: 15px;
}

.members .member-list .member-card {
  width: 350px;
  display: inline-block;
  margin: 10px;
  box-shadow: rgb(111, 108, 108) 0px 5px 15px;
  border-radius: 8px;
  transition: all 0.3s;
  font-size: 18px;
}

.members .member-list .member-card:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.members .member-list .member-card .member-pic {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.members .member-list .member-card .member-name {
  font-size: 20px;
  font-family: "lalezar";
}

.members .member-list .member-card .member-bio {
  padding: 20px;
  text-align: justify;
}

/* -------------------about us--------------------- */

.about-us {
  height: 700px;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(89, 84, 84);
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;
  padding: 100px;
}

.about-us .circle {
  background-color: rgba(87, 84, 84, 0.7);
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 40px 80px;
  border-radius: 50%;
  transition: all 0.3s;
}

.about-us .circle:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.about-us .circle h3 {
  margin-top: 15px;
}

.about-us .circle p {
  margin-top: 30px;
  padding: 10px;
  text-align: justify;
  font-size: 18px;
}

/* -------------------------footer------------------------- */
.footer {
  height: 100px;
  padding: 30px 0;
  text-align: center;
}

.footer .socials-list {
  height: 80px;
  background-color: rgb(48, 46, 46);
  padding-top: 10px;
}

.footer .socials-list .socials-item {
  display: inline-block;
}

.footer .socials-list .socials-item a {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  border-radius: 50%;
  margin: 0 7px;
  transition: all 1s;
}

.footer .socials-list .socials-item a:hover {
  transform: rotate(1turn);
}

.youtube {
  background: rgb(218, 32, 80);
  background: linear-gradient(
    49deg,
    rgba(218, 32, 80, 1) 0%,
    rgba(235, 76, 46, 1) 100%
  );
}

.instagram {
  background: rgb(92, 79, 215);
  background: linear-gradient(
    49deg,
    rgba(92, 79, 215, 1) 0%,
    rgba(227, 48, 105, 1) 100%
  );
}

.facebook {
  background: rgb(14, 113, 201);
  background: linear-gradient(
    236deg,
    rgba(14, 113, 201, 1) 0%,
    rgba(44, 98, 169, 1) 100%
  );
}

.telegram {
  background: rgb(26, 150, 232);
  background: linear-gradient(
    49deg,
    rgba(26, 150, 232, 1) 0%,
    rgba(17, 123, 209, 1) 100%
  );
}

.footer .socials-list .socials-item a i {
  color: #000;
  font-size: 25px;
  color: #fff;
}

.footer p {
  padding: 20px 0;
  font-size: 25px;
}

/* -----------------------back to top button---------------------- */

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.back-to-top a {
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  background: rgb(255, 166, 0);
  background: linear-gradient(
    49deg,
    rgba(255, 166, 0, 1) 0%,
    rgba(244, 44, 6, 1) 100%
  );
  text-align: center;
  padding: 14px 0 0 0;
  border-radius: 50%;
}

.back-to-top a:hover {
  transform: translateY(-5px);
}

.back-to-top a i {
  color: #fff;
  font-size: 20px;
}
